{% extends "layout.jinja" %}
{% block title %}Munje{% endblock %}
{% block body %}
  <section class="hero is-primary is-large">
    <div class="hero-body">
      <p class="title">Munje</p>
      <p class="subtitle">
        Build out your own skill tree
      </p>
    </div>
  </section>
{% endblock %}
