{% extends "layout.jinja" %}
{% block body %}
  <section class="mt-4 mr-6 ml-6">
    <div class="columns">
      <div class="column is-one-quarter">
        <aside class="menu">
          <ul class="menu-list">
            {% if page.is_authenticated() %}
              <li><a class='{{page.active("/overview")}}' href="/overview">Overview</a></li>
              <li><a class='{{page.active("/queues")}}'
                href="/{{ page.user.handle }}/queues">Queues</a></li>
            {% endif %}
            <li><a class='{{page.active("/questions")}}' href="/questions">Questions</a></li>
          </ul>
        </aside>
      </div>
      <div class="column is-three-quarters">
        <article>
          {% block content %}{% endblock %}
        </article>
      </div>
    </div>
  </section>
{% endblock %}
