{% extends "layout.jinja" %}
{% block body %}
  <section class="mt-4">
    <div class="columns">
      <div class="column is-one-quarter">
        <aside class="menu">
          <ul class="menu-list">
            <li><a class='{{page.active("/questions")}}' href="/questions">Questions</a></li>
            <li><a class='{{page.active("/queues")}}' href="/queues">Queues</a></li>
          </ul>
        </aside>
      </div>
      <div class="column is-three-quarters">
        <article class="mr-4">
          {% block content %}{% endblock %}
        </article>
      </div>
    </div>
  </section>
{% endblock %}
