{% extends "two-columns.jinja" %}
{% block title %}Queue{% endblock %}
{% block content %}
  <h2 class="title">Algorithms and data structures</h2>

  <div>
    <div class="card">
      <div class="card-header-title">{{ next_answer.question_title }}</div>
      <div class="card-content">
        <div class="markdown-body mb-5">
          {{ next_answer.markdown()|safe }}
        </div>
        <form method="POST" class="has-text-centered"
          action="/queues/{{ queue.id }}/answers/{{ next_answer.answer_id }}"
        >
          <input class="button is-success is-medium is-light mr-6"
            type="submit" name="state" value="Correct" />
          <input class="button is-danger is-medium is-light mr-6"
            type="submit" name="state" value="Incorrect" />
          <input class="button is-info is-medium is-light"
            type="submit" name="state" value="Too hard" />
        </form>
      </div>
    </div>
  </div>

  <h3 class="subtitle mt-6">Recent answers</h3>
  <table class="table is-striped is-hoverable is-fullwidth">
    <tbody>
      {% for answer in recent_answers %}
        <tr>
          <td>{{ answer.question_title }}</td>
          <td class="has-text-centered">
            <span class="tag is-light {{ answer.tag_class() }}">
              {{ answer.tag_text() }}
            </span>
          </td>
          <td class="has-text-centered">
            {% match answer.answer_stage %}
              {% when Some with (stage) %}
                {{ stage }}
              {% else %}
            {% endmatch %}
          </td>
          <td class="has-text-centered">
            {% match answer.timeago() %}
              {% when Ok with (ago) %}
                {{ ago }}
              {% else %}
                unknown time ago
            {% endmatch %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </div>
{% endblock %}
