{% extends "two-columns.jinja" %}
{% block title %}Queue{% endblock %}
{% block content %}
  <h2 class="title">Algorithms and data structures</h2>

  <div>
    <div class="card">
      {% match next_question.question %}

        {% when Some with (question) %}
          <div class="card-header-title">{{ question.title }}</div>
          <div class="card-content" data-next-question-id="{{ question.external_id }}">
            <div class="markdown-body mb-5">
              {{ question.text.markdown()|safe }}
            </div>
            <form method="POST" class="has-text-centered"
              action="/queues/{{ queue.external_id }}/questions/{{ question.external_id }}"
            >
              <input class="button is-success is-medium is-light mr-6"
                type="submit" name="state" value="Correct" />
              <input class="button is-danger is-medium is-light mr-6"
                type="submit" name="state" value="Incorrect" />
              <input class="button is-info is-medium is-light"
                type="submit" name="state" value="Too hard" />
            </form>
          </div>
        </div>

      {% else %}
        <div class="card-header-title">No questions at this time</div>
        <div class="card-content">
          No question in this queue is ready to work on at this time.  A new question will become
          available {{ next_question.available_at() }}.  In the meantime, perhaps you might want
          to add some questions of your own.
        </div>

    {% endmatch %}
  </div>

  <h3 class="subtitle mt-6 mb-3">Recent answers</h3>
  {% if recent_answers.len() > 0 %}
    <table class="table is-striped is-hoverable is-fullwidth">
      <tbody>
        {% for answer in recent_answers %}
          <tr data-answer-id="{{ answer.answer_id }}">
            <td>{{ answer.question_title }}</td>
            <td class="has-text-centered">
              <span class="tag is-light {{ answer.tag_class() }}">
                {{ answer.tag_text() }}
              </span>
            </td>
            <td class="has-text-centered">
              {{ answer.answer_stage() }}
            </td>
            <td class="has-text-centered">
              {{ answer.answered_at() }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    No questions in this queue have been answered yet.
  {% endif %}
{% endblock %}
