{% extends "two-columns.jinja" %}
{% block title %}Questions{% endblock %}
{% block content %}
  <a href="/questions/new" class="button is-primary is-pulled-right">New question</a>
  <h2 class="title">Questions</h2>
  {% if items.len() > 0 %}
    {% for question in items %}
      <div class="card">
        <a href="/questions/{{ question.id }}">
          <div class="columns">
            <div class="column card-image m-3">
              {% match question.link_logo %}
                {% when Some with (link_logo) %}
                  <figure class="image is-4by4 link-logo">
                    <object data="{{ link_logo }}" type="image/png">
                      {% include "default-icon.jinja" %}
                    </object>
                  </figure>
                {% else %}
                No logo
              {% endmatch %}
            </div>
            <div class="column is-four-fifths card-content">
              {% match question.link %}
                {% when Some with (link) %}
                  {{ link }}
                {% else %}
                  Question text here
              {% endmatch %}
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  {% else %}
    There are no items
  {% endif %}
{% endblock %}
