{% extends "two-columns.jinja" %}
{% block title %}Questions{% endblock %}
{% block content %}
  <a href="/questions/new" class="button is-primary is-pulled-right">New question</a>
  <h2 class="title">Questions</h2>
  {% if items.len() > 0 %}
    {% for question in items %}
      <div class="card">
        <a class="question-text" href="/questions/{{ question.id }}">
          <div class="card-header-title">{{ question.title }}</div>
        </a>
        <div class="card-content pt-0">
          {{ question.markdown()|safe }}
        </div>
      </div>
    {% endfor %}
  {% else %}
    There are no items
  {% endif %}
{% endblock %}
