{% extends "two-columns.jinja" %}
{% block title %}View question{% endblock %}
{% block content %}
  <h2 class="title">Question</h2>

  <div class="link-logo">
  {% match question.link_logo %}
    {% when Some with (link_logo) %}
    <object data="{{ link_logo }}" type="image/png">
      {% include "default-icon.jinja" %}
    </object>
    {% else %}
    {% include "default-icon.jinja" %}
  {% endmatch %}
  </div>

  <div class="markdown-body mb-5">
    {{ question.markdown()|safe }}
  </div>

  <form method="POST" action="/questions/{{ question.id }}/queues">
    <button class="button start-queue is-primary is-pulled-right">Start queue</button>
  </form>
{% endblock %}
